*
!*/

!.gitignore
!docker-compose.yml

!nginx/Dockerfile
!nginx/server.conf

!server/Dockerfile
!server/server.go

!client/tcx/src/*
!client/tcx/src/assets/*
!client/tcx/src/components/*
!client/tcx/src/views/*
