*
!*/

!.gitignore
!docker-compose.yml

!nginx/Dockerfile
!nginx/server.conf

!db/*

!server/Dockerfile
!server/*
!server/controller/*
!server/model/*

!client/tcx/*
!client/tcx/src/*
!client/tcx/src/assets/*
!client/tcx/src/components/*
!client/tcx/src/views/*

!client/tcx/dist/*
!client/tcx/dist/css/*
!client/tcx/dist/img/*
!client/tcx/dist/js/*
