*
!*/

!.gitignore
!docker-compose.yml
!docker-compose-product.yml

!nginx/Dockerfile_dev
!nginx/server.conf

!db/*

!server/Dockerfile
!server/Dockerfile_dev
!server/*
!server/controller/*
!server/model/*
!server/apierror/*
!server/apiresponse/*
!server/auth/*

!client/Dockerfile
!client/product.conf
!client/tcx/*
!client/tcx/src/*
!client/tcx/src/assets/*
!client/tcx/src/components/*
!client/tcx/src/views/*

!client/tcx/dist/*
!client/tcx/dist/css/*
!client/tcx/dist/img/*
!client/tcx/dist/js/*
